body {background-color: mistyrose }

h1 {color: pink; }

h5 {color: white;}

h6 {color: white;}

h2 {color: rosybrown}




    #carouselExampleControls {
        height: 600px;
        width: 600px;
        margin: auto;
   Margin-bottom: 300px; }

   .cardrow {
       margin-top: 10px;
       display: flex;
   }
   
   .column {
       flex: 33%;
       padding: 20px;
   }